In [3]:
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot
import seaborn as sns
%matplotlib inline
from sklearn. model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso,ElasticNet
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.linear_model import LinearRegression, Ridge, Lasso,ElasticNet
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.impute import KNNImputer
from sklearn.ensemble import RandomForestRegressor

from sklearn.ensemble import BaggingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR

from sklearn.ensemble import AdaBoostRegressor

import xgboost as xgb

import warnings
warnings.filterwarnings('ignore')

In [4]:
dataframe = pd.read_csv('dataset.csv')

In [5]:
dataframe.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [6]:
dataframe.shape

(7253, 13)

In [7]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               7253 non-null   object
 1   Location           7253 non-null   object
 2   Year               7253 non-null   int64
 3   Kilometers_Driven  7253 non-null   int64
 4   Fuel_Type          7253 non-null   object
 5   Transmission       7253 non-null   object
 6   Owner_Type         7253 non-null   object
 7   Mileage            7251 non-null   object
 8   Engine             7207 non-null   object
 9   Power              7207 non-null   object
 10  Seats              7200 non-null   float64
 11  New_Price          1006 non-null   object
 12  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(9)
memory usage: 736.8+ KB

In [8]:
dataframe.describe()

              Year  Kilometers_Driven        Seats        Price
count  7253.000000       7.253000e+03  7200.000000  6019.000000
mean   2013.365366       5.869906e+04     5.279722     9.479468
std       3.254421       8.442772e+04     0.811660    11.187917
min    1996.000000       1.710000e+02     0.000000     0.440000
25%    2011.000000       3.400000e+04     5.000000     3.500000
50%    2014.000000       5.341600e+04     5.000000     5.640000
75%    2016.000000       7.300000e+04     5.000000     9.950000
max    2019.000000       6.500000e+06    10.000000   160.000000

In [9]:
dataframe.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 46
Power                  46
Seats                  53
New_Price            6247
Price                1234
dtype: int64

In [10]:
dataframe = dataframe.drop(["New_Price"],axis=1)

In [11]:
dataframe =dataframe.drop(["Name"],axis=1)

In [12]:
dataframe["Location"].unique()

array(['Mumbai', 'Pune', 'Chennai', 'Coimbatore', 'Hyderabad', 'Jaipur',
       'Kochi', 'Kolkata', 'Delhi', 'Bangalore', 'Ahmedabad'],
      dtype=object)

In [13]:
Mileagee = dataframe["Mileage"].str.split(" ", expand = True)
dataframe["Mileage"] = pd.to_numeric(Mileagee[0], errors = 'coerce')

In [14]:
dataframe.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Mumbai,2010,72000,CNG,Manual,First,26.60,998 CC,58.16 bhp,5.0,1.75
1,Pune,2015,41000,Diesel,Manual,First,19.67,1582 CC,126.2 bhp,5.0,12.50
2,Chennai,2011,46000,Petrol,Manual,First,18.20,1199 CC,88.7 bhp,5.0,4.50
3,Chennai,2012,87000,Diesel,Manual,First,20.77,1248 CC,88.76 bhp,7.0,6.00
4,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968 CC,140.8 bhp,5.0,17.74

In [15]:
Enginecc = dataframe["Engine"].str.split(" ", expand = True)
dataframe["Engine"] = pd.to_numeric(Enginecc[0], errors = 'coerce')

In [16]:
Pbhp = dataframe["Power"].str.split(" ", expand = True)
dataframe["Power"] = pd.to_numeric(Pbhp[0], errors = 'coerce')

In [17]:
dataframe.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Mumbai,2010,72000,CNG,Manual,First,26.60,998.0,58.16,5.0,1.75
1,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
2,Chennai,2011,46000,Petrol,Manual,First,18.20,1199.0,88.70,5.0,4.50
3,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
4,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74

In [18]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           7253 non-null   object
 1   Year               7253 non-null   int64
 2   Kilometers_Driven  7253 non-null   int64
 3   Fuel_Type          7253 non-null   object
 4   Transmission       7253 non-null   object
 5   Owner_Type         7253 non-null   object
 6   Mileage            7251 non-null   float64
 7   Engine             7207 non-null   float64
 8   Power              7078 non-null   float64
 9   Seats              7200 non-null   float64
 10  Price              6019 non-null   float64
dtypes: float64(5), int64(2), object(4)
memory usage: 623.4+ KB

In [19]:
dataf =pd.get_dummies(dataframe, columns=['Fuel_Type','Transmission','Owner_Type','Location'])

In [20]:
dataf.isna().sum()

Year                            0
Kilometers_Driven               0
Mileage                         2
Engine                         46
Power                         175
Seats                          53
Price                        1234
Fuel_Type_CNG                   0
Fuel_Type_Diesel                0
Fuel_Type_Electric              0
Fuel_Type_LPG                   0
Fuel_Type_Petrol                0
Transmission_Automatic          0
Transmission_Manual             0
Owner_Type_First                0
Owner_Type_Fourth & Above       0
Owner_Type_Second               0
Owner_Type_Third                0
Location_Ahmedabad              0
Location_Bangalore              0
Location_Chennai                0
Location_Coimbatore             0
Location_Delhi                  0
Location_Hyderabad              0
Location_Jaipur                 0
Location_Kochi                  0
Location_Kolkata                0
Location_Mumbai                 0
Location_Pune                   0
dtype: int64

Now that we have encoded categorical values we shall now impute missing values by calculating their mean

In [21]:
dataf["Mileage"].fillna(dataf["Mileage"].astype("float64").mean(), inplace = True)
dataf["Engine"].fillna(dataf["Engine"].astype("float64").mean(), inplace = True)
dataf["Power"].fillna(dataf["Power"].astype("float64").mean(), inplace = True)
dataf["Seats"].fillna(dataf["Seats"].astype("float64").mean(), inplace = True)
dataf["Price"].fillna(dataf["Price"].astype("float64").mean(), inplace = True)

In [22]:
dataf.isna().sum()

Year                         0
Kilometers_Driven            0
Mileage                      0
Engine                       0
Power                        0
Seats                        0
Price                        0
Fuel_Type_CNG                0
Fuel_Type_Diesel             0
Fuel_Type_Electric           0
Fuel_Type_LPG                0
Fuel_Type_Petrol             0
Transmission_Automatic       0
Transmission_Manual          0
Owner_Type_First             0
Owner_Type_Fourth & Above    0
Owner_Type_Second            0
Owner_Type_Third             0
Location_Ahmedabad           0
Location_Bangalore           0
Location_Chennai             0
Location_Coimbatore          0
Location_Delhi               0
Location_Hyderabad           0
Location_Jaipur              0
Location_Kochi               0
Location_Kolkata             0
Location_Mumbai              0
Location_Pune                0
dtype: int64

ML Algos

In [38]:
X_train, X_test, y_train, y_test = train_test_split(dataf.drop(columns = ['Price']), dataf[['Price']])
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(5439, 28)
(1814, 28)
(5439, 1)
(1814, 1)

In [39]:
from sklearn.preprocessing import MinMaxScaler

X_mtrain= MinMaxScaler().fit_transform(X_train)
X_mtest= MinMaxScaler().fit_transform(X_test)

In [40]:
from sklearn.preprocessing import StandardScaler

X_strain = StandardScaler().fit_transform(X_train)
X_stest = StandardScaler().fit_transform(X_test)

In [65]:
algos={}
algos_minmax ={}
algos_standard={}

**Linear Regression**

In [66]:
linearRegression = LinearRegression()
linearRegression.fit(X_train, y_train)
y_pred = linearRegression.predict(X_test)
algos["Linear Regression"]=r2_score(y_test, y_pred)*100
algos["Linear Regression"]

59.6983908960804

In [67]:
linearRegression = LinearRegression()
linearRegression.fit(X_mtrain, y_train)
y_pred = linearRegression.predict(X_mtest)
algos_minmax["Linear Regression"]=r2_score(y_test, y_pred)*100
algos_minmax["Linear Regression"]

55.65816092333789

In [68]:
linearRegression = LinearRegression()
linearRegression.fit(X_strain, y_train)
y_pred = linearRegression.predict(X_stest)
algos_standard["Linear Regression"]=r2_score(y_test, y_pred)*100
algos_standard["Linear Regression"]

-2.915472921343106e+22

**Lasso Regression**

In [25]:

lass=Lasso(alpha=0.1).fit(X_train,y_train)
y_pred = lass.predict(X_test)
algos["Lasso Regression"]=r2_score(y_test, y_pred)*100
algos["Lasso Regression"]

59.02311332319498

In [69]:

lass=Lasso(alpha=0.1).fit(X_mtrain,y_train)
y_pred = lass.predict(X_mtest)
algos_minmax["Lasso Regression"]=r2_score(y_test, y_pred)*100
algos_minmax["Lasso Regression"]

56.4318425979652

In [70]:

lass=Lasso(alpha=0.1).fit(X_strain,y_train)
y_pred = lass.predict(X_stest)
algos_standard["Lasso Regression"]=r2_score(y_test, y_pred)*100
algos_standard["Lasso Regression"]

59.77199787599352

**Ridge Regression**

In [98]:
rid =Ridge(alpha=1.0).fit(X_train,y_train)
y_pred = rid.predict(X_test)
algos["Ridge Regression"]=r2_score(y_test, y_pred)*100
algos["Ridge Regression"]

59.69766421187961

In [99]:
rid =Ridge(alpha=1.0).fit(X_mtrain,y_train)
y_pred = rid.predict(X_mtest)
algos_minmax["Ridge Regression"]=r2_score(y_test, y_pred)*100
algos_minmax["Ridge Regression"]

59.17784069551089

In [100]:
rid =Ridge(alpha=1.0).fit(X_strain,y_train)
y_pred = rid.predict(X_stest)
algos_standard["Ridge Regression"]=r2_score(y_test, y_pred)*100
algos_standard["Ridge Regression"]

59.824048287567024

**Random Forest**

In [101]:
rf = RandomForestRegressor(n_estimators=150)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
algos["Random Forest"]=r2_score(y_test, y_pred)*100
algos["Random Forest"]

74.87459313545612

In [102]:
rf = RandomForestRegressor(n_estimators=150)
rf.fit(X_mtrain, y_train)
y_pred = rf.predict(X_mtest)
algos_minmax["Random Forest"]=r2_score(y_test, y_pred)*100
algos_minmax["Random Forest"]

69.23273364746892

In [103]:
rf = RandomForestRegressor(n_estimators=150)
rf.fit(X_strain, y_train)
y_pred = rf.predict(X_stest)
algos_standard["Random Forest"]=r2_score(y_test, y_pred)*100
algos_standard["Random Forest"]

70.85944723927624

**MLP**

In [104]:
mlp =MLPRegressor(random_state=1)
mlp.fit(X_train, y_train)
y_pred = mlp.predict(X_test)
algos["MLP"]=r2_score(y_test, y_pred)*100
algos["MLP"]

-991593.8435025539

In [105]:
mlp =MLPRegressor(random_state=1)
mlp.fit(X_mtrain, y_train)
y_pred = mlp.predict(X_mtest)
algos_minmax["MLP"]=r2_score(y_test, y_pred)*100
algos_minmax["MLP"]

67.0255341866351

In [106]:
mlp =MLPRegressor(random_state=1)
mlp.fit(X_strain, y_train)
y_pred = mlp.predict(X_stest)
algos_standard["MLP"]=r2_score(y_test, y_pred)*100
algos_standard["MLP"]

68.4803792093069

**KNN**

In [51]:
for i in range(1,10):
    KNN=KNeighborsRegressor(n_neighbors=i)
    KNN.fit(X_train,y_train)
    y_pred=KNN.predict(X_test)
    a=r2_score(y_test, y_pred)*100
    print("K =",i," , R2 Score =",a)

K = 1  , R2 Score = 18.4400544549857
K = 2  , R2 Score = 39.31156262080939
K = 3  , R2 Score = 48.30369940924227
K = 4  , R2 Score = 51.90808414956454
K = 5  , R2 Score = 51.8770683796576
K = 6  , R2 Score = 52.1866967002329
K = 7  , R2 Score = 51.22259420385782
K = 8  , R2 Score = 50.79065297999325
K = 9  , R2 Score = 49.97162886854443

In [107]:
KNN=KNeighborsRegressor(n_neighbors=4)
KNN.fit(X_train,y_train)
y_pred=KNN.predict(X_test)
algos["KNN"]=r2_score(y_test, y_pred)*100
algos["KNN"]

51.90808414956454

In [52]:
#estimating MSLE for k=1-9
R_MSLE=[]
for i in range(1,10):
    KNN=KNeighborsRegressor(n_neighbors=i)
    KNN.fit(X_mtrain,y_train)
    y_pred=KNN.predict(X_mtest)
    a=r2_score(y_test, y_pred)*100
    print("K =",i," , R2 Score =",a)

K = 1  , R2 Score = 38.66935076935323
K = 2  , R2 Score = 47.8123707107762
K = 3  , R2 Score = 52.27758478825911
K = 4  , R2 Score = 53.9494639998886
K = 5  , R2 Score = 53.95388794171472
K = 6  , R2 Score = 53.63844455098903
K = 7  , R2 Score = 53.26828191084307
K = 8  , R2 Score = 53.359157983817205
K = 9  , R2 Score = 53.569049382347856

In [109]:
KNN=KNeighborsRegressor(n_neighbors=5)
KNN.fit(X_mtrain,y_train)
y_pred=KNN.predict(X_mtest)
algos_minmax["KNN"]=r2_score(y_test, y_pred)*100
algos_minmax["KNN"]

53.95388794171472

In [53]:
#estimating MSLE for k=1-9
R_MSLE=[]
for i in range(1,10):
    KNN=KNeighborsRegressor(n_neighbors=i)
    KNN.fit(X_strain,y_train)
    y_pred=KNN.predict(X_stest)
    a=r2_score(y_test, y_pred)*100
    print("K =",i," , R2 Score =",a)

K = 1  , R2 Score = 48.737905836057905
K = 2  , R2 Score = 54.17768117834654
K = 3  , R2 Score = 55.9088391140788
K = 4  , R2 Score = 56.968663491755464
K = 5  , R2 Score = 59.748111873409506
K = 6  , R2 Score = 58.94511408456595
K = 7  , R2 Score = 58.32783860231277
K = 8  , R2 Score = 58.275748817571184
K = 9  , R2 Score = 59.072522592391906

In [110]:
KNN=KNeighborsRegressor(n_neighbors=5)
KNN.fit(X_strain,y_train)
y_pred=KNN.predict(X_stest)
algos_standard["KNN"]=r2_score(y_test, y_pred)*100
algos_standard["KNN"]

59.748111873409506

**Bagging Regressor**

In [111]:
baggReg=BaggingRegressor(base_estimator=DecisionTreeRegressor(max_depth=20),n_estimators=50, random_state=1,
                         max_samples=1.0, max_features=1.0, bootstrap=False, 
                         bootstrap_features=False, oob_score=False, warm_start=False, n_jobs=-1, verbose=0)
baggReg.fit(X_train,y_train)
y_pred=baggReg.predict(X_test)
algos["Bagging Regression"]=r2_score(y_test, y_pred)*100
algos["Bagging Regression"]

58.248680502265934

In [112]:
baggReg=BaggingRegressor(base_estimator=DecisionTreeRegressor(max_depth=20),n_estimators=50, random_state=1,
                         max_samples=1.0, max_features=1.0, bootstrap=False, 
                         bootstrap_features=False, oob_score=False, warm_start=False, n_jobs=-1, verbose=0)
baggReg.fit(X_mtrain,y_train)
y_pred=baggReg.predict(X_mtest)
algos_minmax["Bagging Regression"]=r2_score(y_test, y_pred)*100
algos_minmax["Bagging Regression"]

45.05960798236552

In [113]:
baggReg=BaggingRegressor(base_estimator=DecisionTreeRegressor(max_depth=20),n_estimators=50, random_state=1,
                         max_samples=1.0, max_features=1.0, bootstrap=False, 
                         bootstrap_features=False, oob_score=False, warm_start=False, n_jobs=-1, verbose=0)
baggReg.fit(X_strain,y_train)
y_pred=baggReg.predict(X_stest)
algos_standard["Bagging Regression"]=r2_score(y_test, y_pred)*100
algos_standard["Bagging Regression"]

43.65451337945841

**AdaBoost Regressor**

In [115]:
ABR = AdaBoostRegressor(
    DecisionTreeRegressor(max_depth=24),
    n_estimators=200,learning_rate=0.6
)

ABR.fit(X_train, y_train)
y_pred = ABR.predict(X_test)
algos["AdaBoost Regression"]=r2_score(y_test, y_pred)*100
algos["AdaBoost Regression"]

72.40720976157648

In [116]:
ABR = AdaBoostRegressor(
    DecisionTreeRegressor(max_depth=24),
    n_estimators=200,learning_rate=0.6
)

ABR.fit(X_mtrain, y_train)
y_pred = ABR.predict(X_mtest)
algos_minmax["AdaBoost Regression"]=r2_score(y_test, y_pred)*100
algos_minmax["AdaBoost Regression"]

68.11097924945524

In [117]:
ABR = AdaBoostRegressor(
    DecisionTreeRegressor(max_depth=24),
    n_estimators=200,learning_rate=0.6
)

ABR.fit(X_strain, y_train)
y_pred = ABR.predict(X_stest)
algos_standard["AdaBoost Regression"]=r2_score(y_test, y_pred)*100
algos_standard["AdaBoost Regression"]

67.23250194703857

**XGB**

In [118]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', learning_rate = 0.4,
                max_depth = 24, alpha = 5, n_estimators = 200)
xg_reg.fit(X_train,y_train)
y_pred = xg_reg.predict(X_test)
algos["XGB Regression"]=r2_score(y_test, y_pred)*100
algos["XGB Regression"]

71.07096711725885

In [119]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', learning_rate = 0.4,
                max_depth = 24, alpha = 5, n_estimators = 200)
xg_reg.fit(X_mtrain,y_train)
y_pred = xg_reg.predict(X_mtest)
algos_minmax["XGB Regression"]=r2_score(y_test, y_pred)*100
algos_minmax["XGB Regression"]

45.47546980057348

In [120]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', learning_rate = 0.4,
                max_depth = 24, alpha = 5, n_estimators = 200)
xg_reg.fit(X_strain,y_train)
y_pred = xg_reg.predict(X_stest)
algos_standard["XGB Regression"]=r2_score(y_test, y_pred)*100
algos_standard["XGB Regression"]

63.03605535961714

In conclusion even mean imputation didn't really help it just lowered the r2 score across algorithms,infact it was worse than knn

In [121]:
for x,y in algos.items():
    print (x,y)

Linear Regression 59.6983908960804
Ridge Regression 59.69766421187961
Bagging Regression 58.248680502265934
AdaBoost Regression 72.40720976157648
XGB Regression 71.07096711725885
Random Forest 74.87459313545612
MLP -991593.8435025539
KNN 51.90808414956454

In [122]:
for x,y in algos_minmax.items():
    print (x,y)

Linear Regression 55.65816092333789
Lasso Regression 56.4318425979652
Ridge Regression 59.17784069551089
Random Forest 69.23273364746892
MLP 67.0255341866351
Bagging Regression 45.05960798236552
AdaBoost Regression 68.11097924945524
XGB Regression 45.47546980057348
KNN 53.95388794171472

In [123]:
for x,y in algos_standard.items():
    print (x,y)

Linear Regression -2.915472921343106e+22
Lasso Regression 59.77199787599352
Ridge Regression 59.824048287567024
Random Forest 70.85944723927624
MLP 68.4803792093069
Bagging Regression 43.65451337945841
AdaBoost Regression 67.23250194703857
XGB Regression 63.03605535961714
KNN 59.748111873409506

Best is no scaling RF at 74%