In [30]:
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot
import seaborn as sns
%matplotlib inline
from sklearn. model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso,ElasticNet
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.linear_model import LinearRegression, Ridge, Lasso,ElasticNet
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.impute import KNNImputer
from sklearn.ensemble import RandomForestRegressor

from sklearn.ensemble import BaggingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR

from sklearn.ensemble import AdaBoostRegressor

import xgboost as xgb

import warnings
warnings.filterwarnings('ignore')

In [31]:
dataframe = pd.read_csv('dataset.csv')

In [32]:
dataframe.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [33]:
dataframe.shape

(7253, 13)

In [34]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               7253 non-null   object
 1   Location           7253 non-null   object
 2   Year               7253 non-null   int64
 3   Kilometers_Driven  7253 non-null   int64
 4   Fuel_Type          7253 non-null   object
 5   Transmission       7253 non-null   object
 6   Owner_Type         7253 non-null   object
 7   Mileage            7251 non-null   object
 8   Engine             7207 non-null   object
 9   Power              7207 non-null   object
 10  Seats              7200 non-null   float64
 11  New_Price          1006 non-null   object
 12  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(9)
memory usage: 736.8+ KB

In [35]:
dataframe.describe()

              Year  Kilometers_Driven        Seats        Price
count  7253.000000       7.253000e+03  7200.000000  6019.000000
mean   2013.365366       5.869906e+04     5.279722     9.479468
std       3.254421       8.442772e+04     0.811660    11.187917
min    1996.000000       1.710000e+02     0.000000     0.440000
25%    2011.000000       3.400000e+04     5.000000     3.500000
50%    2014.000000       5.341600e+04     5.000000     5.640000
75%    2016.000000       7.300000e+04     5.000000     9.950000
max    2019.000000       6.500000e+06    10.000000   160.000000

In [36]:
dataframe.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 46
Power                  46
Seats                  53
New_Price            6247
Price                1234
dtype: int64

In [37]:
dataframe = dataframe.drop(["New_Price"],axis=1)

In [38]:
dataframe =dataframe.drop(["Name"],axis=1)

In [39]:
dataframe["Location"].unique()

array(['Mumbai', 'Pune', 'Chennai', 'Coimbatore', 'Hyderabad', 'Jaipur',
       'Kochi', 'Kolkata', 'Delhi', 'Bangalore', 'Ahmedabad'],
      dtype=object)

In [40]:
Mileagee = dataframe["Mileage"].str.split(" ", expand = True)
dataframe["Mileage"] = pd.to_numeric(Mileagee[0], errors = 'coerce')

In [41]:
dataframe.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Mumbai,2010,72000,CNG,Manual,First,26.60,998 CC,58.16 bhp,5.0,1.75
1,Pune,2015,41000,Diesel,Manual,First,19.67,1582 CC,126.2 bhp,5.0,12.50
2,Chennai,2011,46000,Petrol,Manual,First,18.20,1199 CC,88.7 bhp,5.0,4.50
3,Chennai,2012,87000,Diesel,Manual,First,20.77,1248 CC,88.76 bhp,7.0,6.00
4,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968 CC,140.8 bhp,5.0,17.74

In [42]:
Enginecc = dataframe["Engine"].str.split(" ", expand = True)
dataframe["Engine"] = pd.to_numeric(Enginecc[0], errors = 'coerce')

In [43]:
Pbhp = dataframe["Power"].str.split(" ", expand = True)
dataframe["Power"] = pd.to_numeric(Pbhp[0], errors = 'coerce')

In [44]:
dataframe.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Mumbai,2010,72000,CNG,Manual,First,26.60,998.0,58.16,5.0,1.75
1,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
2,Chennai,2011,46000,Petrol,Manual,First,18.20,1199.0,88.70,5.0,4.50
3,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
4,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74

In [45]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           7253 non-null   object
 1   Year               7253 non-null   int64
 2   Kilometers_Driven  7253 non-null   int64
 3   Fuel_Type          7253 non-null   object
 4   Transmission       7253 non-null   object
 5   Owner_Type         7253 non-null   object
 6   Mileage            7251 non-null   float64
 7   Engine             7207 non-null   float64
 8   Power              7078 non-null   float64
 9   Seats              7200 non-null   float64
 10  Price              6019 non-null   float64
dtypes: float64(5), int64(2), object(4)
memory usage: 623.4+ KB

In [46]:
dataf =pd.get_dummies(dataframe, columns=['Fuel_Type','Transmission','Owner_Type','Location'])

In [47]:
dataf.isna().sum()

Year                            0
Kilometers_Driven               0
Mileage                         2
Engine                         46
Power                         175
Seats                          53
Price                        1234
Fuel_Type_CNG                   0
Fuel_Type_Diesel                0
Fuel_Type_Electric              0
Fuel_Type_LPG                   0
Fuel_Type_Petrol                0
Transmission_Automatic          0
Transmission_Manual             0
Owner_Type_First                0
Owner_Type_Fourth & Above       0
Owner_Type_Second               0
Owner_Type_Third                0
Location_Ahmedabad              0
Location_Bangalore              0
Location_Chennai                0
Location_Coimbatore             0
Location_Delhi                  0
Location_Hyderabad              0
Location_Jaipur                 0
Location_Kochi                  0
Location_Kolkata                0
Location_Mumbai                 0
Location_Pune                   0
dtype: int64

Now that we have encoded categorical values we shall now impute missing values using KNN

> K-Nearest Neighbours (kNN) identifies the neighboring points through a measure of distance,the missing values are then estimated using completed values of neighboring observations.

In [52]:
imputer=KNNImputer(n_neighbors=3, weights='uniform',missing_values=np.nan)
new_array=imputer.fit_transform(dataf)
dataf=pd.DataFrame(data=np.round(new_array), columns=dataf.columns)

In [53]:
dataf.isna().sum()

Year                         0
Kilometers_Driven            0
Mileage                      0
Engine                       0
Power                        0
Seats                        0
Price                        0
Fuel_Type_CNG                0
Fuel_Type_Diesel             0
Fuel_Type_Electric           0
Fuel_Type_LPG                0
Fuel_Type_Petrol             0
Transmission_Automatic       0
Transmission_Manual          0
Owner_Type_First             0
Owner_Type_Fourth & Above    0
Owner_Type_Second            0
Owner_Type_Third             0
Location_Ahmedabad           0
Location_Bangalore           0
Location_Chennai             0
Location_Coimbatore          0
Location_Delhi               0
Location_Hyderabad           0
Location_Jaipur              0
Location_Kochi               0
Location_Kolkata             0
Location_Mumbai              0
Location_Pune                0
dtype: int64

ML Algos

In [54]:
X_train, X_test, y_train, y_test = train_test_split(dataf.drop(columns = ['Price']), dataf[['Price']])
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(5439, 28)
(1814, 28)
(5439, 1)
(1814, 1)

In [67]:
from sklearn.preprocessing import StandardScaler

X_strain = StandardScaler().fit_transform(X_train)
X_stest = StandardScaler().fit_transform(X_test)

In [68]:
from sklearn.preprocessing import MinMaxScaler

X_mtrain= MinMaxScaler().fit_transform(X_train)
X_mtest= MinMaxScaler().fit_transform(X_test)

In [55]:
linearRegression = LinearRegression()
linearRegression.fit(X_train, y_train)
y_pred = linearRegression.predict(X_test)
r2_score(y_test, y_pred)*100

63.364707552589564

In [69]:
linearRegression = LinearRegression()
linearRegression.fit(X_mtrain, y_train)
y_pred = linearRegression.predict(X_mtest)
r2_score(y_test, y_pred)*100

62.50762062307802

In [70]:
linearRegression = LinearRegression()
linearRegression.fit(X_strain, y_train)
y_pred = linearRegression.predict(X_stest)
r2_score(y_test, y_pred)*100

-4.295883158503754e+23

In [56]:

lass=Lasso(alpha=0.1).fit(X_train,y_train)
y_pred = lass.predict(X_test)
r2_score(y_test, y_pred)*100

62.576880509232524

In [71]:

lass=Lasso(alpha=0.1).fit(X_mtrain,y_train)
y_pred = lass.predict(X_mtest)
r2_score(y_test, y_pred)*100

59.937838445183054

In [72]:

lass=Lasso(alpha=0.1).fit(X_strain,y_train)
y_pred = lass.predict(X_stest)
r2_score(y_test, y_pred)*100

63.25512713624857

In [57]:
rid =Ridge(alpha=1.0).fit(X_train,y_train)
y_pred = rid.predict(X_test)
r2_score(y_test, y_pred)*100

63.36684620913585

In [73]:
rid =Ridge(alpha=1.0).fit(X_strain,y_train)
y_pred = rid.predict(X_stest)
r2_score(y_test, y_pred)*100

63.295369250917986

In [74]:
rid =Ridge(alpha=1.0).fit(X_mtrain,y_train)
y_pred = rid.predict(X_mtest)
r2_score(y_test, y_pred)*100

62.22150199876651

In [58]:
rf = RandomForestRegressor(n_estimators=150)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
r2_score(y_test, y_pred)*100

82.13526332543076

In [75]:
rf = RandomForestRegressor(n_estimators=150)
rf.fit(X_mtrain, y_train)
y_pred = rf.predict(X_mtest)
r2_score(y_test, y_pred)*100

59.00062904117883

In [76]:
rf = RandomForestRegressor(n_estimators=150)
rf.fit(X_strain, y_train)
y_pred = rf.predict(X_stest)
r2_score(y_test, y_pred)*100

78.88932186499721

In [59]:
mlp =MLPRegressor(random_state=1)
mlp.fit(X_train, y_train)
y_pred = mlp.predict(X_test)
r2_score(y_test, y_pred)*100

-1731714.525344524

In [77]:
mlp =MLPRegressor(random_state=1)
mlp.fit(X_mtrain, y_train)
y_pred = mlp.predict(X_mtest)
r2_score(y_test, y_pred)*100

73.76844045260762

In [78]:
mlp =MLPRegressor(random_state=1)
mlp.fit(X_strain, y_train)
y_pred = mlp.predict(X_stest)
r2_score(y_test, y_pred)*100

72.9150856997687

In [79]:
#estimating MSLE for k=1-9
R_MSLE=[]
for i in range(1,10):
    KNN=KNeighborsRegressor(n_neighbors=i)
    KNN.fit(X_train,y_train)
    y_pred=KNN.predict(X_test)
    a=r2_score(y_test, y_pred)*100
    print("K =",i," , R2 Score =",a)

K = 1  , R2 Score = 44.999783981835826
K = 2  , R2 Score = 53.26953512136116
K = 3  , R2 Score = 54.48731483938639
K = 4  , R2 Score = 55.53892524346446
K = 5  , R2 Score = 54.06385195988924
K = 6  , R2 Score = 53.90027586114967
K = 7  , R2 Score = 53.966762128502864
K = 8  , R2 Score = 53.51050432070444
K = 9  , R2 Score = 53.13654156967953

In [80]:
#estimating MSLE for k=1-9
R_MSLE=[]
for i in range(1,10):
    KNN=KNeighborsRegressor(n_neighbors=i)
    KNN.fit(X_mtrain,y_train)
    y_pred=KNN.predict(X_mtest)
    a=r2_score(y_test, y_pred)*100
    print("K =",i," , R2 Score =",a)

K = 1  , R2 Score = 54.89538967893205
K = 2  , R2 Score = 61.53716849679094
K = 3  , R2 Score = 63.96653151196927
K = 4  , R2 Score = 65.80419842879338
K = 5  , R2 Score = 66.28781221418664
K = 6  , R2 Score = 65.74998955062559
K = 7  , R2 Score = 65.60195015684944
K = 8  , R2 Score = 64.94918058860907
K = 9  , R2 Score = 64.6355067540122

In [81]:
#estimating MSLE for k=1-9
R_MSLE=[]
for i in range(1,10):
    KNN=KNeighborsRegressor(n_neighbors=i)
    KNN.fit(X_strain,y_train)
    y_pred=KNN.predict(X_stest)
    a=r2_score(y_test, y_pred)*100
    print("K =",i," , R2 Score =",a)

K = 1  , R2 Score = 62.31227015575882
K = 2  , R2 Score = 71.76255712498718
K = 3  , R2 Score = 73.3380298132728
K = 4  , R2 Score = 72.99494876164076
K = 5  , R2 Score = 72.94751202243626
K = 6  , R2 Score = 72.62793828299088
K = 7  , R2 Score = 71.97140660207812
K = 8  , R2 Score = 71.04829706368078
K = 9  , R2 Score = 70.45281008770732

K=5 gives the highest accuracy

In [64]:
baggReg=BaggingRegressor(base_estimator=DecisionTreeRegressor(max_depth=20),n_estimators=50, random_state=1,
                         max_samples=1.0, max_features=1.0, bootstrap=False, 
                         bootstrap_features=False, oob_score=False, warm_start=False, n_jobs=-1, verbose=0)
baggReg.fit(X_train,y_train)
y_pred=baggReg.predict(X_test)
r2_score(y_test, y_pred)*100

67.56151976265899

In [82]:
baggReg=BaggingRegressor(base_estimator=DecisionTreeRegressor(max_depth=20),n_estimators=50, random_state=1,
                         max_samples=1.0, max_features=1.0, bootstrap=False, 
                         bootstrap_features=False, oob_score=False, warm_start=False, n_jobs=-1, verbose=0)
baggReg.fit(X_mtrain,y_train)
y_pred=baggReg.predict(X_mtest)
r2_score(y_test, y_pred)*100

38.73533523172586

In [83]:
baggReg=BaggingRegressor(base_estimator=DecisionTreeRegressor(max_depth=20),n_estimators=50, random_state=1,
                         max_samples=1.0, max_features=1.0, bootstrap=False, 
                         bootstrap_features=False, oob_score=False, warm_start=False, n_jobs=-1, verbose=0)
baggReg.fit(X_strain,y_train)
y_pred=baggReg.predict(X_stest)
r2_score(y_test, y_pred)*100

63.373532276247225

In [65]:
ABR = AdaBoostRegressor(
    DecisionTreeRegressor(max_depth=24),
    n_estimators=200,learning_rate=0.6
)

ABR.fit(X_train, y_train)
y_pred = ABR.predict(X_test)
r2_score(y_test, y_pred)*100

80.91329238592158

In [84]:
ABR = AdaBoostRegressor(
    DecisionTreeRegressor(max_depth=24),
    n_estimators=200,learning_rate=0.6
)

ABR.fit(X_mtrain, y_train)
y_pred = ABR.predict(X_mtest)
r2_score(y_test, y_pred)*100

52.08729826127734

In [85]:
ABR = AdaBoostRegressor(
    DecisionTreeRegressor(max_depth=24),
    n_estimators=200,learning_rate=0.6
)

ABR.fit(X_strain, y_train)
y_pred = ABR.predict(X_stest)
r2_score(y_test, y_pred)*100

76.33708874736269

In [66]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', learning_rate = 0.4,
                max_depth = 24, alpha = 5, n_estimators = 200)
xg_reg.fit(X_train,y_train)
y_pred = xg_reg.predict(X_test)
r2_score(y_test, y_pred)*100

80.73204105026998

In [86]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', learning_rate = 0.4,
                max_depth = 24, alpha = 5, n_estimators = 200)
xg_reg.fit(X_mtrain,y_train)
y_pred = xg_reg.predict(X_mtest)
r2_score(y_test, y_pred)*100

41.8680753335214

In [87]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', learning_rate = 0.4,
                max_depth = 24, alpha = 5, n_estimators = 200)
xg_reg.fit(X_strain,y_train)
y_pred = xg_reg.predict(X_stest)
r2_score(y_test, y_pred)*100

76.6134605906482

In conclusion KNN imputation didn't really help it just lowered the r2 score across algorithms