In [35]:
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot
import seaborn as sns
%matplotlib inline
from sklearn. model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso,ElasticNet
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.linear_model import LinearRegression, Ridge, Lasso,ElasticNet
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.neighbors import KNeighborsRegressor

from sklearn.ensemble import RandomForestRegressor

from sklearn.ensemble import BaggingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR

from sklearn.ensemble import AdaBoostRegressor

import xgboost as xgb

import warnings
warnings.filterwarnings('ignore')

In [36]:
dataframe = pd.read_csv('dataset.csv')

In [37]:
dataframe.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [38]:
dataframe.shape

(7253, 13)

In [39]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               7253 non-null   object
 1   Location           7253 non-null   object
 2   Year               7253 non-null   int64
 3   Kilometers_Driven  7253 non-null   int64
 4   Fuel_Type          7253 non-null   object
 5   Transmission       7253 non-null   object
 6   Owner_Type         7253 non-null   object
 7   Mileage            7251 non-null   object
 8   Engine             7207 non-null   object
 9   Power              7207 non-null   object
 10  Seats              7200 non-null   float64
 11  New_Price          1006 non-null   object
 12  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(9)
memory usage: 736.8+ KB

In [40]:
dataframe.describe()

              Year  Kilometers_Driven        Seats        Price
count  7253.000000       7.253000e+03  7200.000000  6019.000000
mean   2013.365366       5.869906e+04     5.279722     9.479468
std       3.254421       8.442772e+04     0.811660    11.187917
min    1996.000000       1.710000e+02     0.000000     0.440000
25%    2011.000000       3.400000e+04     5.000000     3.500000
50%    2014.000000       5.341600e+04     5.000000     5.640000
75%    2016.000000       7.300000e+04     5.000000     9.950000
max    2019.000000       6.500000e+06    10.000000   160.000000

In [41]:
dataframe.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 46
Power                  46
Seats                  53
New_Price            6247
Price                1234
dtype: int64

In [42]:
dataframe = dataframe.drop(["New_Price"],axis=1)

In [43]:
dataframe =dataframe.drop(["Name"],axis=1)

In [44]:
dataframe["Location"].unique()

array(['Mumbai', 'Pune', 'Chennai', 'Coimbatore', 'Hyderabad', 'Jaipur',
       'Kochi', 'Kolkata', 'Delhi', 'Bangalore', 'Ahmedabad'],
      dtype=object)

In [45]:
Mileagee = dataframe["Mileage"].str.split(" ", expand = True)
dataframe["Mileage"] = pd.to_numeric(Mileagee[0], errors = 'coerce')

In [46]:
dataframe.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Mumbai,2010,72000,CNG,Manual,First,26.60,998 CC,58.16 bhp,5.0,1.75
1,Pune,2015,41000,Diesel,Manual,First,19.67,1582 CC,126.2 bhp,5.0,12.50
2,Chennai,2011,46000,Petrol,Manual,First,18.20,1199 CC,88.7 bhp,5.0,4.50
3,Chennai,2012,87000,Diesel,Manual,First,20.77,1248 CC,88.76 bhp,7.0,6.00
4,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968 CC,140.8 bhp,5.0,17.74

In [47]:
Enginecc = dataframe["Engine"].str.split(" ", expand = True)
dataframe["Engine"] = pd.to_numeric(Enginecc[0], errors = 'coerce')

In [48]:
Pbhp = dataframe["Power"].str.split(" ", expand = True)
dataframe["Power"] = pd.to_numeric(Pbhp[0], errors = 'coerce')

In [49]:
dataframe.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Mumbai,2010,72000,CNG,Manual,First,26.60,998.0,58.16,5.0,1.75
1,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
2,Chennai,2011,46000,Petrol,Manual,First,18.20,1199.0,88.70,5.0,4.50
3,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
4,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74

In [50]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           7253 non-null   object
 1   Year               7253 non-null   int64
 2   Kilometers_Driven  7253 non-null   int64
 3   Fuel_Type          7253 non-null   object
 4   Transmission       7253 non-null   object
 5   Owner_Type         7253 non-null   object
 6   Mileage            7251 non-null   float64
 7   Engine             7207 non-null   float64
 8   Power              7078 non-null   float64
 9   Seats              7200 non-null   float64
 10  Price              6019 non-null   float64
dtypes: float64(5), int64(2), object(4)
memory usage: 623.4+ KB

In [51]:
dataf =pd.get_dummies(dataframe, columns=['Fuel_Type','Transmission','Owner_Type','Location'])

In [52]:
dataf.isna().sum()

Year                            0
Kilometers_Driven               0
Mileage                         2
Engine                         46
Power                         175
Seats                          53
Price                        1234
Fuel_Type_CNG                   0
Fuel_Type_Diesel                0
Fuel_Type_Electric              0
Fuel_Type_LPG                   0
Fuel_Type_Petrol                0
Transmission_Automatic          0
Transmission_Manual             0
Owner_Type_First                0
Owner_Type_Fourth & Above       0
Owner_Type_Second               0
Owner_Type_Third                0
Location_Ahmedabad              0
Location_Bangalore              0
Location_Chennai                0
Location_Coimbatore             0
Location_Delhi                  0
Location_Hyderabad              0
Location_Jaipur                 0
Location_Kochi                  0
Location_Kolkata                0
Location_Mumbai                 0
Location_Pune                   0
dtype: int64

In [53]:
dataf=dataf.dropna()

In [54]:
dataf.isna().sum()

Year                         0
Kilometers_Driven            0
Mileage                      0
Engine                       0
Power                        0
Seats                        0
Price                        0
Fuel_Type_CNG                0
Fuel_Type_Diesel             0
Fuel_Type_Electric           0
Fuel_Type_LPG                0
Fuel_Type_Petrol             0
Transmission_Automatic       0
Transmission_Manual          0
Owner_Type_First             0
Owner_Type_Fourth & Above    0
Owner_Type_Second            0
Owner_Type_Third             0
Location_Ahmedabad           0
Location_Bangalore           0
Location_Chennai             0
Location_Coimbatore          0
Location_Delhi               0
Location_Hyderabad           0
Location_Jaipur              0
Location_Kochi               0
Location_Kolkata             0
Location_Mumbai              0
Location_Pune                0
dtype: int64

ML Algos

In [55]:
X_train, X_test, y_train, y_test = train_test_split(dataf.drop(columns = ['Price']), dataf[['Price']])
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4404, 28)
(1468, 28)
(4404, 1)
(1468, 1)

In [56]:
linearRegression = LinearRegression()
linearRegression.fit(X_train, y_train)
y_pred = linearRegression.predict(X_test)
r2_score(y_test, y_pred)*100

34.14734508622266

In [57]:

lass=Lasso(alpha=0.1).fit(X_train,y_train)
y_pred = lass.predict(X_test)
r2_score(y_test, y_pred)*100

41.77612768459639

In [58]:
rid =Ridge(alpha=1.0).fit(X_train,y_train)
y_pred = rid.predict(X_test)
r2_score(y_test, y_pred)*100

34.176349178839

In [59]:
rf = RandomForestRegressor(n_estimators=150)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
r2_score(y_test, y_pred)*100

85.47028500765771

In [62]:
mlp =MLPRegressor(random_state=1)
mlp.fit(X_train, y_train)
y_pred = mlp.predict(X_test)
r2_score(y_test, y_pred)*100

27.766663786977418

In [65]:
#estimating MSLE for k=1-9
R_MSLE=[]
for i in range(1,40):
    KNN=KNeighborsRegressor(n_neighbors=i)
    KNN.fit(X_train,y_train)
    y_pred=KNN.predict(X_test)
    a=r2_score(y_test, y_pred)*100
    print("K =",i," , R2 Score =",a)

K = 1  , R2 Score = 34.77840277057944
K = 2  , R2 Score = 42.213603298758315
K = 3  , R2 Score = 48.31566206739328
K = 4  , R2 Score = 49.32768789792132
K = 5  , R2 Score = 49.52744027314719
K = 6  , R2 Score = 49.56922480842536
K = 7  , R2 Score = 49.84576997902972
K = 8  , R2 Score = 48.88692960110475
K = 9  , R2 Score = 48.278089695186196
K = 10  , R2 Score = 48.07539570400869
K = 11  , R2 Score = 47.84359622904112
K = 12  , R2 Score = 48.005067661025734
K = 13  , R2 Score = 47.836611117470596
K = 14  , R2 Score = 47.29401991963867
K = 15  , R2 Score = 46.448436280926906
K = 16  , R2 Score = 46.696024208682715
K = 17  , R2 Score = 46.34584614364381
K = 18  , R2 Score = 45.678440750700524
K = 19  , R2 Score = 45.0432998603516
K = 20  , R2 Score = 44.5011824860138
K = 21  , R2 Score = 44.108582687298956
K = 22  , R2 Score = 43.78291444341526
K = 23  , R2 Score = 43.51945309712073
K = 24  , R2 Score = 42.86728472438705
K = 25  , R2 Score = 42.48732837391227
K = 26  , R2 Score = 42.132907864672575
K = 27  , R2 Score = 41.94621369257262
K = 28  , R2 Score = 41.6146455914071
K = 29  , R2 Score = 41.16904125624625
K = 30  , R2 Score = 40.84156378033544
K = 31  , R2 Score = 40.36934551384348
K = 32  , R2 Score = 40.135687245908905
K = 33  , R2 Score = 39.66616568027531
K = 34  , R2 Score = 39.32588621184525
K = 35  , R2 Score = 38.8886542787053
K = 36  , R2 Score = 38.281503050154775
K = 37  , R2 Score = 37.82076648937205
K = 38  , R2 Score = 37.47943935667405
K = 39  , R2 Score = 37.12974518924012

K=7 gives the highest accuracy

In [66]:
baggReg=BaggingRegressor(base_estimator=DecisionTreeRegressor(max_depth=20),n_estimators=50, random_state=1,
                         max_samples=1.0, max_features=1.0, bootstrap=False, 
                         bootstrap_features=False, oob_score=False, warm_start=False, n_jobs=-1, verbose=0)
baggReg.fit(X_train,y_train)
y_pred=baggReg.predict(X_test)
r2_score(y_test, y_pred)*100

81.67812574291943

In [67]:
ABR = AdaBoostRegressor(
    DecisionTreeRegressor(max_depth=24),
    n_estimators=200,learning_rate=0.6
)

ABR.fit(X_train, y_train)
y_pred = ABR.predict(X_test)
r2_score(y_test, y_pred)*100

85.57356645234856

In [68]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', learning_rate = 0.4,
                max_depth = 24, alpha = 5, n_estimators = 200)
xg_reg.fit(X_train,y_train)
y_pred = xg_reg.predict(X_test)
r2_score(y_test, y_pred)*100

85.6590315754141